:root {
  --greyBlue1: rgb(232, 236, 244);
  --greyBlue2: rgb(139, 139, 173);
  --greyBlue3: rgb(207, 213, 224);
}

li {
  width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--greyBlue3);
  padding: 15px 0;
  background-color: ghostwhite;
}

.profile {
  background-color: var(--greyBlue1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  background-color: white;
  min-width: 350px;
  min-height: 350px;
  margin: 100px 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px 20px 0 0;
  border: 5px solid var(--greyBlue3);
  border-bottom: 2px solid var(--greyBlue3);
  padding-bottom: 50px;
}

.avatar {
  border-radius: 50%;
  /* width: 148px; */
}

.name {
  font-weight: 700;
  font-size: 24px;
}
.tag,
.location {
  /* color: var(--greyBlue); */
  color: var(--greyBlue2);
  font-size: 18px;
  font-weight: 500;

  margin: 0%;
  padding: 10px;
}

.stats {
  background-color: ghostwhite;
  color: var(--greyBlue2);
  display: flex;
  margin: 0 0 100px;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  border-radius: 0 0 20px 20px;
  padding-left: 0;
  border: 5px solid var(--greyBlue3);
  border-top: 0;
}
.quantity {
  font-weight: 800;
  color: black;
  padding-top: 30px;
}

.label,
.quantity {
  font-size: 18px;
}
