.item {
  border: 1px solid darkgray;
  padding: 15px 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}

.name {
  margin: 0%;
}

.statusOnline {
  background-color: green;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.statusOffline {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
